.header-nav {
  position: relative;
  height: 100%;
  padding: 4px;
  border-radius: 50px;
  width: fit-content;

  .indicator {
    position: absolute;
    width: 0;
    height: calc(100% - 10px);
    background: #1f1f1f;
    border-radius: 50px;
    transition: all 0.2s ease;
    top: 5px;
    pointer-events: none;
  }

  .nav-item {
    position: relative;
    height: 100%;
    padding: 0 12px;
    color: #a0a0a0;
    background: rgba(0, 0, 0, 0.01);
    font-size: 14px;
    white-space: nowrap;
    transition: color 0.3s ease;
    z-index: 1;
    text-decoration: none;

    &.active {
      color: #f7f7f7;
      border-radius: 50px;
      background: #1f1f1f;
    }

    &:not(.active) {
      color: #a0a0a0 !important;
      background: rgba(0, 0, 0, 0.01) !important;
    }

    &:hover {
      color: #f7f7f7 !important;
    }
  }
}